@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  background-color: #64B6AC;
  color: #5D737E;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
  font: inherit;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.container {
  text-align: center;
  margin: 40px 20px;
  padding: 30px;
  width: 90%;
  height: auto;
  background-color: #FCFFFD;
  border-radius: 8px;
}

.taskBg {
  background-color: #DAFFEF;
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 10px 140px 10px 15px;
  text-align: left;
  font-size: 22px;
  position: relative;
}

.taskBg div {
  display: flex;
  align-items: center;
}

.taskNumber {
  color: #5D737E;
  border: 1px solid #5D737E;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
}

.taskBg .taskText {
  flex: 1;
}

.taskBg .done .taskText {
  text-decoration: line-through;
  opacity: 0.3;
}

.taskBg .iconsWrap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: auto;
  display: inline-block;
}

.taskBg .iconsWrap span {
  display: inline-block;
  margin: 0px 10px 0 10px;
  cursor: pointer;
  color: #64B6AC;
}

.taskBg .iconsWrap span:hover {
  color: #F79824;
  /* color: #5BC0DE; */
}

.mr-20 {
  margin-right: 20px;
}

.col {
  margin-bottom: 20px;
}